:host {
  width: 100%;
}

.section-title {
  font-weight: 600;
}

hr {
  border-style: solid;
  border-color: orange;
}

section + section {
  margin-top: 24px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

