@let employee = employeeResource.value();
@let isLoading = employeeResource.isLoading();
@let error = employeeResource.error();

@if (isLoading) {
  loading
}
@if (error) {
  error
}
@if (employee) {
  <div>Full Name: {{ employee.name }}</div>
  <div>Email: {{ employee.email }}</div>
  <div>Department: {{ employee.department }}</div>

  <hr>
  <h2>Equipment</h2>
  @for (equipment of employee.equipments; track equipment.id) {
    <div>{{ equipment.name }}</div>
  }
  <a routerLink="offboard">Offboard</a>
}
