@let isLoading = employeesResource.isLoading();
@let error = employeesResource.error();
@let _employees = employees();

@if (isLoading) {
  <mat-spinner/>
}

@if (error) {
  Snap! We were unable to fetch employees...please try again later.
}

@if (_employees) {
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Employees
      </ng-template>

      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Type in to search...">
      </mat-form-field>

      <app-employees-table [employees]="_employees"/>
    </mat-tab>
    <mat-tab disabled></mat-tab>
    <mat-tab disabled></mat-tab>
  </mat-tab-group>
}
